<nav>
  <div class="nav-left">
      <a href="Index.html">
      <img src="https://i.postimg.cc/Y9nZymQq/logo2.png" class="logo">
  </a>
      <ul>
          <li><img src="https://i.postimg.cc/Fs3m1Djy/notification.png"></li>
          <li><img src="https://i.postimg.cc/YqGKZ8nc/inbox.png"></li>
          <li><img src="https://i.postimg.cc/xCzpgFjg/video.png"></li>
      </ul>
  </div>
  <div class="nav-right">
      <div class="search-box">
          <img src="https://i.postimg.cc/SKtHgM6Q/search.png">
          <input type="text" placeholder="Search">
      </div>
      <div class="nav-user-icon online" onclick="settingsMenuToggle()">
          <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
      </div>
  </div>
  <!----------------Settings Menu"----------------------->
  <div class="settings-menu">
      <div id="dark-btn">
          <span></span>
      </div>
      <div class="settings-menu-inner">
          <div class="user-profile">
              <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
              <div>
                  <p>John Nicholson</p>
                  <a href="profile.html">See your profile</a>
              </div>
          </div>
          <hr>
          <div class="user-profile">
              <img src="https://i.postimg.cc/hv3nx52s/feedback.png">
              <div>
                  <p>Give Feedback</p>
                  <a href="#">Help us to improve the new design</a>
              </div>
          </div>
          <hr>
          <div class="settings-links">
              <img src="https://i.postimg.cc/QCcPNYRV/setting.png" class="settings-icon">
              <a href="#">Settings & Privacy <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
          </div>
          <div class="settings-links">
              <img src="https://i.postimg.cc/C5tydfK6/help.png" class="settings-icon">
              <a href="#">Help & Support<img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
          </div>
          <div class="settings-links">
              <img src="https://i.postimg.cc/5yt1XVSj/display.png" class="settings-icon">
              <a href="#">Display & Accessibility <img src="https://i.postimg.cc/RF1dBMWr/arrow.png"width="10px"></a>
          </div>
          <div class="settings-links">
              <img src="https://i.postimg.cc/PJC9GrMb/logout.png" class="settings-icon">
              <a href="#">Logout <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
          </div>
      </div>
  </div>
</nav>